.circleci/generated_config.yml
environments/
test/test_config_init/.circlepipe.yaml
test/test_envfiles_json/result/*.tfvars.json
test/test_envfiles_yaml/result/*.tfvars.yaml
test/test_pipeline_terraform/result/*.tfvars.json
test/test_pipeline_all_instances/result/generated_config.yml
test/test_pipeline_all_instances/result/*.tfvars.json
test/test_pipeline_role_only_no_approval/result/generated_config.yml
test/test_pipeline_role_only_no_approval/result/*.tfvars.json
test/test_pipeline_role_only/result/generated_config.yml
test/test_pipeline_role_only/result/*.tfvars.json
test/test_pipeline_role_and_instance_post_approve/result/*.pipe.*

.python-version
cosign.*
